<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bixin.nft.core.mapper.NftCompositeElementMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id as id
        ,info_id as info_id
        ,type as type
        ,property as property
        ,score as score
        ,create_time as create_time
        ,update_time as update_time
    </sql>

</mapper>
