<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bixin.nft.core.mapper.NftInfoMapper">
  <resultMap id="BaseResultMap" type="com.bixin.nft.bean.DO.NftInfoDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="nft_id" jdbcType="BIGINT" property="nft_id" />
    <result column="group_id" jdbcType="BIGINT" property="group_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="image_link" jdbcType="VARCHAR" property="image_link" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="created" jdbcType="BIT" property="created" />
    <result column="create_time" jdbcType="BIGINT" property="create_time" />
    <result column="update_time" jdbcType="BIGINT" property="update_time" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.bixin.nft.bean.DO.NftInfoDo">
    <result column="image_data" jdbcType="LONGVARCHAR" property="image_data" />
  </resultMap>
  <sql id="Base_Column_List">
    id, nft_id, group_id, name, image_link, creator, owner, created, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    image_data
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from nft_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nft_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bixin.nft.bean.DO.NftInfoDo" useGeneratedKeys="true">
    insert into nft_info (id, nft_id, group_id, 
      name, image_link, creator, 
      owner, created, create_time, 
      update_time, image_data)
    values (#{id,jdbcType=BIGINT}, #{nft_id,jdbcType=BIGINT}, #{group_id,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{image_link,jdbcType=VARCHAR}, #{creator,jdbcType=VARCHAR}, 
      #{owner,jdbcType=VARCHAR}, #{created,jdbcType=BIT}, #{create_time,jdbcType=BIGINT}, 
      #{update_time,jdbcType=BIGINT}, #{image_data,jdbcType=LONGVARCHAR})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bixin.nft.bean.DO.NftInfoDo">
    update nft_info
    <set>
      <if test="nft_id != null">
        nft_id = #{nft_id,jdbcType=BIGINT},
      </if>
      <if test="group_id != null">
        group_id = #{group_id,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="image_link != null">
        image_link = #{image_link,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="created != null">
        created = #{created,jdbcType=BIT},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=BIGINT},
      </if>
      <if test="update_time != null">
        update_time = #{update_time,jdbcType=BIGINT},
      </if>
      <if test="image_data != null">
        image_data = #{image_data,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.bixin.nft.bean.DO.NftInfoDo">
    update nft_info
    set nft_id = #{nft_id,jdbcType=BIGINT},
      group_id = #{group_id,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      image_link = #{image_link,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      created = #{created,jdbcType=BIT},
      create_time = #{create_time,jdbcType=BIGINT},
      update_time = #{update_time,jdbcType=BIGINT},
      image_data = #{image_data,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="baseQuery">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != nft_id">
         and nft_id = #{nft_id,jdbcType=BIGINT}
      </if>
      <if test="null != group_id">
         and group_id = #{group_id,jdbcType=BIGINT}
      </if>
      <if test="null != name">
         and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="null != image_link">
         and image_link = #{image_link,jdbcType=VARCHAR}
      </if>
      <if test="null != creator">
         and creator = #{creator,jdbcType=VARCHAR}
      </if>
      <if test="null != owner">
         and owner = #{owner,jdbcType=VARCHAR}
      </if>
      <if test="null != created">
         and created = #{created,jdbcType=BIT}
      </if>
      <if test="null != create_time">
         and create_time = #{create_time,jdbcType=BIGINT}
      </if>
      <if test="null != update_time">
         and update_time = #{update_time,jdbcType=BIGINT}
      </if>
      <if test="null != image_data">
         and image_data = #{image_data,jdbcType=LONGVARCHAR}
      </if>
    </trim>
  </sql>
  <select id="selectByPrimaryKeySelective" parameterType="com.bixin.nft.bean.DO.NftInfoDo" resultMap="BaseResultMap">
    select  * from nft_info
    <include refid="baseQuery" />
  </select>
  <select id="selectByPrimaryKeySelectiveList" parameterType="com.bixin.nft.bean.DO.NftInfoDo" resultMap="BaseResultMap">
    select  * from nft_info
    <include refid="baseQuery" />
  </select>
</mapper>