<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bixin.nft.core.mapper.NftKikoCatMapper">
  <resultMap id="BaseResultMap" type="com.bixin.nft.bean.DO.NftKikoCatDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="info_id" jdbcType="BIGINT" property="infoId" />
    <result column="background" jdbcType="VARCHAR" property="background" />
    <result column="background_score" jdbcType="DECIMAL" property="backgroundScore" />
    <result column="fur" jdbcType="VARCHAR" property="fur" />
    <result column="fur_score" jdbcType="DECIMAL" property="furScore" />
    <result column="clothes" jdbcType="VARCHAR" property="clothes" />
    <result column="clothes_score" jdbcType="DECIMAL" property="clothesScore" />
    <result column="facial_expression" jdbcType="VARCHAR" property="facialExpression" />
    <result column="facial_expression_score" jdbcType="DECIMAL" property="facialExpressionScore" />
    <result column="head" jdbcType="VARCHAR" property="head" />
    <result column="head_score" jdbcType="DECIMAL" property="headScore" />
    <result column="accessories" jdbcType="VARCHAR" property="accessories" />
    <result column="accessories_score" jdbcType="DECIMAL" property="accessoriesScore" />
    <result column="eyes" jdbcType="VARCHAR" property="eyes" />
    <result column="eyes_score" jdbcType="DECIMAL" property="eyesScore" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, info_id, background, background_score, fur, fur_score, clothes, clothes_score, 
    facial_expression, facial_expression_score, head, head_score, accessories, accessories_score, 
    eyes, eyes_score, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from nft_kiko_cat
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectByNftId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from nft_kiko_cat
    where info_id = #{infoId,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nft_kiko_cat
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bixin.nft.bean.DO.NftKikoCatDo" useGeneratedKeys="true">
    insert into nft_kiko_cat (id, info_id, background, 
      background_score, fur, fur_score, 
      clothes, clothes_score, facial_expression, 
      facial_expression_score, head, head_score, 
      accessories, accessories_score, eyes, 
      eyes_score, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{infoId,jdbcType=BIGINT}, #{background,jdbcType=VARCHAR}, 
      #{backgroundScore,jdbcType=DECIMAL}, #{fur,jdbcType=VARCHAR}, #{furScore,jdbcType=DECIMAL}, 
      #{clothes,jdbcType=VARCHAR}, #{clothesScore,jdbcType=DECIMAL}, #{facialExpression,jdbcType=VARCHAR}, 
      #{facialExpressionScore,jdbcType=DECIMAL}, #{head,jdbcType=VARCHAR}, #{headScore,jdbcType=DECIMAL}, 
      #{accessories,jdbcType=VARCHAR}, #{accessoriesScore,jdbcType=DECIMAL}, #{eyes,jdbcType=VARCHAR}, 
      #{eyesScore,jdbcType=DECIMAL}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bixin.nft.bean.DO.NftKikoCatDo">
    update nft_kiko_cat
    <set>
      <if test="infoId != null">
        info_id = #{infoId,jdbcType=BIGINT},
      </if>
      <if test="background != null">
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="backgroundScore != null">
        background_score = #{backgroundScore,jdbcType=DECIMAL},
      </if>
      <if test="fur != null">
        fur = #{fur,jdbcType=VARCHAR},
      </if>
      <if test="furScore != null">
        fur_score = #{furScore,jdbcType=DECIMAL},
      </if>
      <if test="clothes != null">
        clothes = #{clothes,jdbcType=VARCHAR},
      </if>
      <if test="clothesScore != null">
        clothes_score = #{clothesScore,jdbcType=DECIMAL},
      </if>
      <if test="facialExpression != null">
        facial_expression = #{facialExpression,jdbcType=VARCHAR},
      </if>
      <if test="facialExpressionScore != null">
        facial_expression_score = #{facialExpressionScore,jdbcType=DECIMAL},
      </if>
      <if test="head != null">
        head = #{head,jdbcType=VARCHAR},
      </if>
      <if test="headScore != null">
        head_score = #{headScore,jdbcType=DECIMAL},
      </if>
      <if test="accessories != null">
        accessories = #{accessories,jdbcType=VARCHAR},
      </if>
      <if test="accessoriesScore != null">
        accessories_score = #{accessoriesScore,jdbcType=DECIMAL},
      </if>
      <if test="eyes != null">
        eyes = #{eyes,jdbcType=VARCHAR},
      </if>
      <if test="eyesScore != null">
        eyes_score = #{eyesScore,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="baseQuery">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != infoId">
         and info_id = #{infoId,jdbcType=BIGINT}
      </if>
      <if test="null != background">
         and background = #{background,jdbcType=VARCHAR}
      </if>
      <if test="null != backgroundScore">
         and background_score = #{backgroundScore,jdbcType=DECIMAL}
      </if>
      <if test="null != fur">
         and fur = #{fur,jdbcType=VARCHAR}
      </if>
      <if test="null != furScore">
         and fur_score = #{furScore,jdbcType=DECIMAL}
      </if>
      <if test="null != clothes">
         and clothes = #{clothes,jdbcType=VARCHAR}
      </if>
      <if test="null != clothesScore">
         and clothes_score = #{clothesScore,jdbcType=DECIMAL}
      </if>
      <if test="null != facialExpression">
         and facial_expression = #{facialExpression,jdbcType=VARCHAR}
      </if>
      <if test="null != facialExpressionScore">
         and facial_expression_score = #{facialExpressionScore,jdbcType=DECIMAL}
      </if>
      <if test="null != head">
         and head = #{head,jdbcType=VARCHAR}
      </if>
      <if test="null != headScore">
         and head_score = #{headScore,jdbcType=DECIMAL}
      </if>
      <if test="null != accessories">
         and accessories = #{accessories,jdbcType=VARCHAR}
      </if>
      <if test="null != accessoriesScore">
         and accessories_score = #{accessoriesScore,jdbcType=DECIMAL}
      </if>
      <if test="null != eyes">
         and eyes = #{eyes,jdbcType=VARCHAR}
      </if>
      <if test="null != eyesScore">
         and eyes_score = #{eyesScore,jdbcType=DECIMAL}
      </if>
      <if test="null != createTime">
         and create_time = #{createTime,jdbcType=BIGINT}
      </if>
      <if test="null != updateTime">
         and update_time = #{updateTime,jdbcType=BIGINT}
      </if>
    </trim>
  </sql>
  <select id="selectByPrimaryKeySelective" parameterType="com.bixin.nft.bean.DO.NftKikoCatDo" resultMap="BaseResultMap">
    select  * from nft_kiko_cat
    <include refid="baseQuery" />
  </select>
  <select id="selectByPrimaryKeySelectiveList" parameterType="com.bixin.nft.bean.DO.NftKikoCatDo" resultMap="BaseResultMap">
    select  * from nft_kiko_cat
    <include refid="baseQuery" />
  </select>
</mapper>