<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bixin.nft.core.mapper.NftKikoCatMapper">
  <resultMap id="BaseResultMap" type="com.bixin.nft.bean.DO.NftKikoCatDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="info_id" jdbcType="BIGINT" property="infoId" />
    <result column="background" jdbcType="VARCHAR" property="background" />
    <result column="background_score" jdbcType="INTEGER" property="backgroundScore" />
    <result column="breed" jdbcType="VARCHAR" property="breed" />
    <result column="breed_score" jdbcType="INTEGER" property="breedScore" />
    <result column="decorate" jdbcType="VARCHAR" property="decorate" />
    <result column="decorate_score" jdbcType="INTEGER" property="decorateScore" />
    <result column="score" jdbcType="INTEGER" property="score" />
    <result column="order" jdbcType="INTEGER" property="order" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, info_id, background, background_score, breed, breed_score, decorate, decorate_score, 
    score, order, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nft_kiko_cat
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from nft_kiko_cat
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bixin.nft.bean.DO.NftKikoCatDo" useGeneratedKeys="true">
    insert into nft_kiko_cat (id, info_id, background, 
      background_score, breed, breed_score, 
      decorate, decorate_score, score, 
      order, create_time, update_time
      )
    values (#{id,jdbcType=BIGINT}, #{infoId,jdbcType=BIGINT}, #{background,jdbcType=VARCHAR}, 
      #{backgroundScore,jdbcType=INTEGER}, #{breed,jdbcType=VARCHAR}, #{breedScore,jdbcType=INTEGER}, 
      #{decorate,jdbcType=VARCHAR}, #{decorateScore,jdbcType=INTEGER}, #{score,jdbcType=INTEGER}, 
      #{order,jdbcType=INTEGER}, #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}
      )
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bixin.nft.bean.DO.NftKikoCatDo">
    update nft_kiko_cat
    <set>
      <if test="infoId != null">
        info_id = #{infoId,jdbcType=BIGINT},
      </if>
      <if test="background != null">
        background = #{background,jdbcType=VARCHAR},
      </if>
      <if test="backgroundScore != null">
        background_score = #{backgroundScore,jdbcType=INTEGER},
      </if>
      <if test="breed != null">
        breed = #{breed,jdbcType=VARCHAR},
      </if>
      <if test="breedScore != null">
        breed_score = #{breedScore,jdbcType=INTEGER},
      </if>
      <if test="decorate != null">
        decorate = #{decorate,jdbcType=VARCHAR},
      </if>
      <if test="decorateScore != null">
        decorate_score = #{decorateScore,jdbcType=INTEGER},
      </if>
      <if test="score != null">
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="order != null">
        order = #{order,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="baseQuery">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != infoId">
         and info_id = #{infoId,jdbcType=BIGINT}
      </if>
      <if test="null != background">
         and background = #{background,jdbcType=VARCHAR}
      </if>
      <if test="null != backgroundScore">
         and background_score = #{backgroundScore,jdbcType=INTEGER}
      </if>
      <if test="null != breed">
         and breed = #{breed,jdbcType=VARCHAR}
      </if>
      <if test="null != breedScore">
         and breed_score = #{breedScore,jdbcType=INTEGER}
      </if>
      <if test="null != decorate">
         and decorate = #{decorate,jdbcType=VARCHAR}
      </if>
      <if test="null != decorateScore">
         and decorate_score = #{decorateScore,jdbcType=INTEGER}
      </if>
      <if test="null != score">
         and score = #{score,jdbcType=INTEGER}
      </if>
      <if test="null != order">
         and order = #{order,jdbcType=INTEGER}
      </if>
      <if test="null != createTime">
         and create_time = #{createTime,jdbcType=BIGINT}
      </if>
      <if test="null != updateTime">
         and update_time = #{updateTime,jdbcType=BIGINT}
      </if>
    </trim>
  </sql>
  <select id="selectByPrimaryKeySelective" parameterType="com.bixin.nft.bean.DO.NftKikoCatDo" resultMap="BaseResultMap">
    select  * from nft_kiko_cat
    <include refid="baseQuery" />
  </select>
  <select id="selectByPrimaryKeySelectiveList" parameterType="com.bixin.nft.bean.DO.NftKikoCatDo" resultMap="BaseResultMap">
    select  * from nft_kiko_cat
    <include refid="baseQuery" />
  </select>
</mapper>