<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bixin.ido.server.core.mapper.TradingPoolMapper">
  <resultMap id="BaseResultMap" type="com.bixin.ido.server.bean.DO.TradingPoolDo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="pair_name" jdbcType="VARCHAR" property="pairName" />
    <result column="token_a" jdbcType="VARCHAR" property="tokenA" />
    <result column="token_b" jdbcType="VARCHAR" property="tokenB" />
    <result column="allocation_ratio" jdbcType="DECIMAL" property="allocationRatio" />
    <result column="current_trading_amount" jdbcType="DECIMAL" property="currentTradingAmount" />
    <result column="total_trading_amount" jdbcType="DECIMAL" property="totalTradingAmount" />
    <result column="allocated_reward_amount" jdbcType="DECIMAL" property="allocatedRewardAmount" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
    <result column="update_time" jdbcType="BIGINT" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pair_name, token_a, token_b, allocation_ratio, current_trading_amount, total_trading_amount, 
    allocated_reward_amount, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from trading_pools
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from trading_pools
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.bixin.ido.server.bean.DO.TradingPoolDo" useGeneratedKeys="true">
    insert into trading_pools (id, pair_name, token_a, 
      token_b, allocation_ratio, current_trading_amount, 
      total_trading_amount, allocated_reward_amount, 
      create_time, update_time)
    values (#{id,jdbcType=BIGINT}, #{pairName,jdbcType=VARCHAR}, #{tokenA,jdbcType=VARCHAR}, 
      #{tokenB,jdbcType=VARCHAR}, #{allocationRatio,jdbcType=DECIMAL}, #{currentTradingAmount,jdbcType=DECIMAL}, 
      #{totalTradingAmount,jdbcType=DECIMAL}, #{allocatedRewardAmount,jdbcType=DECIMAL}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT})
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bixin.ido.server.bean.DO.TradingPoolDo">
    update trading_pools
    <set>
      <if test="pairName != null">
        pair_name = #{pairName,jdbcType=VARCHAR},
      </if>
      <if test="tokenA != null">
        token_a = #{tokenA,jdbcType=VARCHAR},
      </if>
      <if test="tokenB != null">
        token_b = #{tokenB,jdbcType=VARCHAR},
      </if>
      <if test="allocationRatio != null">
        allocation_ratio = #{allocationRatio,jdbcType=DECIMAL},
      </if>
      <if test="currentTradingAmount != null">
        current_trading_amount = #{currentTradingAmount,jdbcType=DECIMAL},
      </if>
      <if test="totalTradingAmount != null">
        total_trading_amount = #{totalTradingAmount,jdbcType=DECIMAL},
      </if>
      <if test="allocatedRewardAmount != null">
        allocated_reward_amount = #{allocatedRewardAmount,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <sql id="baseQuery">
    <trim prefix="WHERE" prefixOverrides="AND | OR">
      <if test="null != id">
         and id = #{id,jdbcType=BIGINT}
      </if>
      <if test="null != pairName">
         and pair_name = #{pairName,jdbcType=VARCHAR}
      </if>
      <if test="null != tokenA">
         and token_a = #{tokenA,jdbcType=VARCHAR}
      </if>
      <if test="null != tokenB">
         and token_b = #{tokenB,jdbcType=VARCHAR}
      </if>
      <if test="null != allocationRatio">
         and allocation_ratio = #{allocationRatio,jdbcType=DECIMAL}
      </if>
      <if test="null != currentTradingAmount">
         and current_trading_amount = #{currentTradingAmount,jdbcType=DECIMAL}
      </if>
      <if test="null != totalTradingAmount">
         and total_trading_amount = #{totalTradingAmount,jdbcType=DECIMAL}
      </if>
      <if test="null != allocatedRewardAmount">
         and allocated_reward_amount = #{allocatedRewardAmount,jdbcType=DECIMAL}
      </if>
      <if test="null != createTime">
         and create_time = #{createTime,jdbcType=BIGINT}
      </if>
      <if test="null != updateTime">
         and update_time = #{updateTime,jdbcType=BIGINT}
      </if>
    </trim>
  </sql>
  <select id="selectByPrimaryKeySelective" parameterType="com.bixin.ido.server.bean.DO.TradingPoolDo" resultMap="BaseResultMap">
    select  * from trading_pools
    <include refid="baseQuery" />
  </select>
  <select id="selectByPrimaryKeySelectiveList" parameterType="com.bixin.ido.server.bean.DO.TradingPoolDo" resultMap="BaseResultMap">
    select  * from trading_pools
    <include refid="baseQuery" />
  </select>
</mapper>